<!DOCTYPE html>
<html lang="en">
	<%- include('layout/head') %>
<body>
	
	<%- include('layout/header') %>
	
	<div class="container">
		<p>
			Hi there, do you have a nice idea you would want to see on the internet? Feel free to submit it by filling the form down below and check back regularly for updates on your idea.
		</p>

		<p>
			Click on the menu icon if you're new here and click on the <a href="about.html"><i>About</i></a> link to learn more.
		</p>
	</div>

	<div class="container">
		<form method="post" action="/ideas">
			<label for="name">Your Name:</label>
			<input type="text" name="name" id="name" class="input" placeholder="e.g. John Doe" required>
			<label for="title">Idea Title:</label>
			<input type="text" name="title" id="title" class="input" placeholder="e.g. Request for Platform to.........." required>
			<label for="suggestion">Your Suggestion:</label>
			<textarea name="suggestion" id=suggestion rows="8" class="textarea" placeholder="e.g. Hello dev(s), its would be nice to have a platform where one can go to and (to be continued....)" required></textarea>
			<input type="submit" id="submit" value="Submit Idea" class="submit" />
		</form>
	</div>

	<%- include('layout/footer') %>
	
	<script src="/js/script.js"></script>
</body>
</html>