<header>
		<div class="head-bg">
			<div class="nav-body" id="nav-body">
				<span href="#" class="close-nav" onclick="closeNav()">&times;</span>
				<a href="/" onclick="closeNav()">Home</a>
				<a href="/ideas" onclick="closeNav()">Ideas</a>
				<a href="/about" onclick="closeNav()">About</a>
				<a href="/contact" onclick="closeNav()">Contact</a>
			</div>
			<div class="open-nav" onclick="openNav()">
				<div class="nav-line"></div>
				<div class="nav-line"></div>
				<div class="nav-line"></div>
		</div>
			<div class="header-bg-text">idea<span class="dev-text">4</span>dev</div>	
		</div>
	</header>